body{
  background-color: #f3f3f1;
  margin: 0px;
  padding-top: 5%;
  text-align: center;
  padding-left: 2.5%;
  padding-right: 2.5%;

}


h1{
  font-family: "Avenir", Arial;
  font-weight: bold;
  font-size: 7vw;
}

table {
  width: 100%;
  margin: auto;
  padding: 10px;
  border-collapse: collapse;
}

td {
    width: 20%;
    overflow: hidden;
    padding: 0px;
    font-family: "futura", Arial;
    margin: 0px;
}
tr {
  margin: 0px;
}

tr:nth-child(even){
  background-color: rgba(139,0,0,.2);
  /*opacity: .2;*/

}

#listingHeader{

    border: none;
}

input {

  width: 50%;
  height: 33%;
  background-color: white;
  /*background: transparent;*/
  border: none;
  outline: none;
  font-size: 2.5vw;
  text-align: center;



}
/*input[type="text"]:nth-child(even){
  background-color: rgba(139,0,0,.2);
  background: transparent;
  border: none;
  outline: none;


}*/
/*input:nth-child(odd){
  background-color: rgba(139,0,0,.2);
}*/

/*PHONE*/
@media only screen and (max-device-width: 1024px) {
  table {

    height:7vh;
  }

  td {
    height:7vh;
    font-size: 4vw;
    padding-left: 2.5%;

  }
  tr {
    height:7vh;
  }

  #listingHeader{
      font-size: 3vw;
  }
  input{
    font-size: 2.5vw;
  }
}
/*COMP*/
@media only screen and (min-device-width: 1024px) {
  table {

    height:10vh;
  }

  td {

      height:10vh;
      font-size: 1.2vw;
  }
  tr {
    height:10vh;
  }
  #listingHeader{
      font-size: 1.5vw;
  }
  input{
    font-size: 1.2vw;
  }
}
