/*HOME PAGE CSS*/

body{

  background-color: rgb(201, 188, 161);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.locationButtons{
  position: relative;
  text-align:center;
  background-color: rgb(153, 45, 31);
  padding: 20px;
  width: 100%;
  min-height: 500px;
  /*max-width: 600px;*/
  /*max-height: 600px;*/
  margin:auto;
}

.locationBtn{
  /*background-color: rgb(207, 197, 172);*/
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;

}
